# Created by https://www.toptal.com/developers/gitignore/api/web,macos
# Edit at https://www.toptal.com/developers/gitignore?templates=web,macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
